.bg-primary-color {
    background-color: #fff;
}

.bg-secondary-color {
    background-color: #EEF5DB;
}


.bg-dark-color {
    background-color: #000;
}

.primary-color {
    color: #7a7a7a;
}

.secondary-color {
    color: #A219E4;
}

.font-1 {
    font-family: Poppins;
}

/* NAVBAR */

#navbar {
    border-bottom: 1px solid #7a7a7a;
}

#navbar a:hover {
    color: #7a7a7a;
}


.navbar-brand {
    display: flex;
}

.navbar-brand img {
    height: 65px;
}

#navbar-items .navbar-nav {
    font-family: Poppins;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#navbar-items .nav-item {
    margin: 0 1em;
}

/* SLIDER */

#slider {
    margin-top: 3em;
    margin-bottom: 1em;
}


#slider .carousel-caption {
    bottom: 0em;
}

#slider .carousel-caption h5 {
    font-family: Poppins;
    font-size: 2.0em;
    text-shadow: #000 2px 2px;
}


#slider .btn {
    font-family: Poppins;
    padding: 0.3em 0.8em;
    font-size: 1em;
    margin-top: 1em;
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 0.7;
}

.carousel-control-prev i,
.carousel-control-next i {
    color: #111;
    font-size: 3em;
}

#slider .carousel-indicators {
    bottom: 24em;
}

.carousel-indicators [data-bs-target] {
    background-color: #222;
    opacity: 0.8;
}

.carousel-indicators button.active {
    background-color: #A219E4;
}


@media(min-width: 768px) {

    #slider .carousel-inner,
    #slider .carousel-item {
        height: 90vh;
    }

    #slider .carousel-caption {
        bottom: 15em;
    }

    #slider .carousel-caption h5 {
        font-size: 4em;
        text-shadow: #000 2px 3px;
    }

    #slider .btn {
        padding: 0.6em 1.6em;
        font-size: 1.2em;

    }

    #slider .carousel-indicators {
        bottom: 12em;
    }
}

/* PRODUTOS */
#product-area {
    margin-bottom: 4em;
}

#product-area .card {
    padding: 2em 0.3em;
    border-radius: 20px;
    margin-bottom: 1em;
    bottom: 20em;
    box-shadow: #7a7a7a 2px 2px;
}

#product-area img {
    height: 20rem;
    border-radius: 20px;

}

#product-area .row {
    bottom: 50em;
}

#product-area .card-title {
    margin-bottom: 1.5em;
    font-family: Poppins;
}


#product-area .card-init i {
    color: rgb(199, 156, 25);
}

#product-area .card-init h3 {
    margin-bottom: 22rem;
    font-family: Poppins;
    margin-top: 1rem;
    font-size: 2.0em;
}

#product-area .card-body a {
    font-family: Poppins;
}

#product-area .card-body p {
    font-size: 1.5em;
    margin-bottom: 2em;
    font-style: italic;
}

@media(min-width: 768px) {
    #product-area .card {
        padding: 2em 0.3em;
        border-radius: 20px;
        margin-bottom: 1em;
        bottom: 0;
        box-shadow: #7a7a7a 2px 2px;
    }

    #product-area .card-init h3 {
        margin-bottom: 2rem;
        font-family: Poppins;
        margin-top: 3rem;
        font-size: 3rem;
    }
}

/* TIME */

#team-area {
    text-align: center;
    margin-bottom: 4em;
}

#team-area .card {
    margin-top: 5rem;
    font-family: Poppins;
    padding: 2em 0.3em;
    border-radius: 20px;
    margin-bottom: 1em;
    bottom: 22em;
    box-shadow: #7a7a7a 2px 2px;
}

#team-area .main-title {
    margin-top: -18rem;
    bottom: 50rem;
}


#team-area img {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    box-shadow: #7a7a7a 3px 3px;

}

#team-area .circulo-team {
    display: flex;
    justify-content: center;
    align-items: center;
}


#team-area .main-title h3 {
    margin-bottom: 22rem;
    font-family: Poppins;
    font-size: 2.0em;
}

#team-area .main-title i {
    color: rgb(52, 188, 241);
}

@media(min-width: 768px) {
    #team-area .card {
        font-family: Poppins;
        padding: 2em 1em;
        border-radius: 20px;
        margin-bottom: 1em;
        bottom: 15em;
        box-shadow: #7a7a7a 2px 2px;
    }

    #team-area .main-title h3 {
        margin-top: 24rem;
        margin-bottom: 15rem;
        font-family: Poppins;
        font-size: 3.0em;
    }
}

/* SOBRE */

#about-area {
    background-color: #f9f9f9;
    margin-bottom: 4em;
}

#about-area .about-main-title h3 {
    margin-bottom: 4rem;
    font-family: Poppins;
    font-size: 2.0em;
}

#about-area {
    margin-top: -22rem;
}

#about-area .row img {
    border-radius: 20px;
    box-shadow: #7a7a7a 2px 2px;
}

#about-list {
    list-style: none;
    font-family: Poppins;
}

#about-area .row h3 {
    margin-bottom: 3rem;
    font-family: Poppins;
    font-size: 1.8em;
}

#about-area .row p {
    margin-bottom: 1rem;
    font-family: Poppins;
    font-size: 1em
}

@media(min-width: 768px) {
    #about-area {
        margin-top: -11rem;
    }

    #about-area .about-main-title h3 {
        margin-bottom: 4rem;
        font-family: Poppins;
        font-size: 2.5em;
    }
}

/* FOOTER-TOP */

#footer {
    padding: 3em 2em;
}

#footer-top {
    margin-bottom: 2em;
}

#footer-top,
#footer-top i {
    color: #fff;
}

#social-icons {
    text-align: right;
}

#social-icons i {
    margin-right: 1em;
    font-size: 1.5em;
    cursor: pointer;
}

#social-icons i:hover {
    transition: 0.3s;
    color: #7a7a7a;
}

/* FOOTER-DETAILS */

#footer-details {
    margin-bottom: 3em;
}

#news-container,
#contact-container,
#links-container {
    padding: 0;
    border: 0;
    margin-bottom: 2em;
}

#footer-details h4 {
    color: #fff;
    margin-bottom: 1.5em;
}

#links-container li {
    margin-bottom: 0.5em;
}

#links-container a {
    text-decoration: none;
}

#links-container a:hover {
    color: #7a7a7a;
}

/* FOOTER -BOTTOM */

#footer-bottom {
    border-top: 1px solid #7a7a7a;
    padding-top: 1em;
}

#footer-bottom i {
    margin-left: 0.3em;
}

@media (min-width: 768px) {
    #news-container {
        padding-right: 2em;
    }

    #links-container {
        padding-left: 2em;
    }

    #contact-container {
        padding: 0 2em;
        border-left: 1px solid #7a7a7a;
        border-right: 1px solid #7a7a7a
    }
}